.input-group-addon {
    border-radius: 0 !important;
}

h1,
.h1 {
    font-size: 17px;
}

::ng-deep .dx-form-group-caption {
    font-size: 15px !important;
}

::ng-deep .select-item {
    border-style: dotted !important;
}

::ng-deep .dx-accordion-item {
    border: 0px;
}


  
  .svg-icon svg g {
    transition: fill 0.3s ease;
    fill: darkblue;
  }
  
  .filter{
    display: block;
    cursor: pointer;
    padding: 5px 6px;
    min-height: 32px; 
    font-size: 15px;
    float: left;
    a {
      color: #3F4254;
      font-weight: 200;
    }
  }
  
  .icon{
    padding-left: 4px;
  }
  
  .arrow{
    padding-right: 4px;
  }
  
  .filter:hover{
    background: #efeded;
  }

  ::ng-deep .dx-treeview-item {
    padding: 0px 5px;
    min-height: 32px;
    font-size: 12px;
}