.config-main-form {
    padding: 20px;
    min-height: 92%;
    a {
        text-decoration: none;
    }
    .frmState {
        margin-bottom: 10px;
    }
    button {
        background-color: transparent;
    }
}